@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #001f3f;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
